@model ViewPresentationViewModel

@{ 
    ViewData[ViewConstants.kNavbarActiveIndexKey] = NavbarModel.ActiveIndex.HomeMyPresentations;
}

@section style {
<link href="~/css/ViewPresentation.css" rel="stylesheet" />
}

<div class="col-md-6 offset-md-2">

    <canvas id="pdfHost" class="">
    </canvas>

    <div class="pdfNavigationButtonsHost">
        <button id="fullScreenButton" class="btn btn-primary">Fullscreen</button>
        <button id="activateButton" class="btn btn-primary">Activate</button>
    </div>


    
    

</div>


@section scripts {
@if (Model.PresentationURL != null)
{
    <script>
        window.presentationURL = "@Model.PresentationURL";
    </script>
}

@if (Model.ActivationRequestString != null)
{
    <script>
        window.activationRequestString = "@Model.ActivationRequestString";
    </script>
}
<script src="~/js/Common.js"></script>
<script src="~/lib/pdfjs-dist/build/pdf.min.js"></script>
<script src="~/js/ViewPresentation.js"></script>
}