@model List<string>
@{
    ViewData["Title"] = "Active presentations";
    ViewData[ViewConstants.kNavbarIndexPairKey] = new LeftNavbar.IndexPair { IndexWhenUserAuthorized = NavbarModel.AuthorizableItemsIndex.HomeMyActivePresentations };

}

<div class="row">

    @if (Model.Count == 0)
    {
        <p>There doesn't seem to be anything here</p>
    }

    @foreach (var item in Model)
    {
        <div class="col-sm-2 col-md-2">
            <div class="thumbnail">
                <img src="~/images/pdfIcon.png" alt="PDF icon" class="img-thumbnail">
                <div class="caption">
                    <p>@item</p>
                    <div class="container-fluid">
                        <a asp-controller="Presentations" asp-action="ControlPresentation" asp-route-name="@item"
                           class="btn btn-primary">Control</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>