@model TagsViewModel

@if (Model.TagsList != null)
{
    <div class="row tagsView">

        @foreach (var item in Model.TagsList)
        {
            if (item.Length > 0 && !item.Equals(" "))
            {
                <a asp-controller="@nameof(ExploreController).WithoutControllerPart()"
                   asp-action="@nameof(ExploreController.UserPresentationsByTag)"
                   asp-route-tag="@item"
                   asp-route-page="1"
                   asp-route-itemsPerPage="5"
                   class="post-tag">@item</a>
            }

        }

    </div>
}

