.noPadding {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.cardFixed {
    overflow:hidden;
}

.card-text {
    height: 75px;
    overflow: auto;
}


.usersListDiv {
    height: 75px;
    overflow: auto;
}

.topMessageContainer {
    text-align:center;
    height: 50px;
    width: 100%;
}


.categoryButton {
   position:relative;
   margin:10px auto;
   display:inline-block;
}

.categoryButtonsContainer {
	height: 100px;
	width: 100%;
	margin: 10px;
    text-align:center;
    position:relative;

}

.card-img-top {
    width: auto;
    height: 340px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
    margin-top: 0;
  margin-bottom: 0;
}

.smallModalDialog {
    height: auto;
}

.modal-content {
  height: 100%;
  width: 100%;
  border-radius: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}