.noPadding {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.cardFixed {

}

.card-text {
    height: 75px;
    overflow: auto;
}


.usersListDiv {
    height: 75px;
    overflow: auto;
}

.topMessageContainer {
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    height: 50px;
    width: 100%;
}