
#pointerCanvasContainer {
    width: 80%;
    height: 0px;
    overflow: hidden;
    -ms-touch-action:none;
    background-color: mediumaquamarine;
    margin-left: auto;
    margin-right: auto;
}

#pointerControlsContainer {
    height: 0px;
    overflow: hidden;
    margin: 10px;
}