
#pointerCanvasContainer {
    width: 80%;
    height: 60%;
    overflow: hidden;
    -ms-touch-action:none;
    background-color: mediumaquamarine;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#pointerControlsContainer {
    height: 0;
    overflow: hidden;
    margin: 10px;
}

.modalToolsDivs {
    margin-bottom: 5px;
}

.totalToolsContainer {
    overflow:auto;
}

