.mainNavbarContainer {
    height: 64px;
}


.fullWidthFixedToTop {
	position: fixed;
	top: 0px;
	width: 100%;
    z-index: 986;
}


.fullWidthRelativeTable {
	display: table;
	box-sizing: border-box;
	position: relative;
	width: 100%;
    padding: 8px;
    background-color: rgb(66, 133, 244);
}

.searchForm {
	
    background: rgba(255,255,255,0.16);
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	max-width: 720px;
	position: relative;
	-ms-transition: background 100ms ease-in, width 100ms ease-out;
	transition: background 100ms ease-in, width 100ms ease-out;

    height: 46px;
	padding: 0 11px;
	margin-right: 48px;
}


.searchForm button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0 4px;
	line-height: 0;
}


.tableCellContainer {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
	-ms-user-select: none;
    
}

.fullWidth {
	width: 100%;
}



.relativeInlineBlock {
	display: inline-block;
	position: relative;
	top: 2px;
	-ms-user-select: none;
}

.searchBarTitle {
	display: inline-block;
	font-family: "Product Sans",Arial,sans-serif;
	font-size: 22px;
	line-height: 24px;
	padding-left: 24px;
	position: relative;
	top: -1.5px;
	vertical-align: middle;
	outline: none;
    color: white;
}


.searchFormDiv {
	width: 100%;
	height: 48px;
    display: inline-block;
    box-sizing: border-box;
	padding-left: 24px;
}


.searchInput {
	border: none;
	font: normal 20px Arial, sans-serif;
	height: 24px;
	outline: none;
	padding: 11px 0 11px 16px;
	width: 100%;
	background: transparent;
    color: white;
}