.mainNavbarContainer {
    width:100%;
    background-color: rgb(66, 133, 244); 
    padding: 8px;
    margin-bottom: 1px;
    clear: left;

}


.searchNavbarHeight {
    height: 48px;
}

.fullWidthFixedToTop {
	position: relative;
	top: 0px;
	width: 100%;
    z-index: 986;
}


.fullWidthRelativeTable {
	display: table;
	box-sizing: border-box;
	position: relative;
	width: 100%;
    padding: 8px;
}

.searchForm {
    	box-sizing: border-box;
    background: rgba(255,255,255,0.16);
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
    height: 46px;
	padding: 0 11px;
	margin-right: 48px;
    display:inline-table;
    width:100%;
}


.searchForm button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0 4px;
	line-height: 0;
    display:table-cell;
}



.searchInput {
	border: none;
	font: normal 20px Arial, sans-serif;
	height: 24px;
	outline: none;
	background: none;
    color: white;
    display:table-cell;
    width:100%;
    height: 100%;
}


.tableCellContainer {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
	-ms-user-select: none;
    
}





.relativeInlineBlock {
	display: inline-block;
	position: relative;
	top: 2px;
	-ms-user-select: none;
}

.searchBarTitle {
	display: inline-block;
	font-family: "Product Sans",Arial,sans-serif;
	font-size: 22px;
	line-height: 24px;
	padding-left: 24px;
	position: relative;
	top: -1.5px;
	vertical-align: middle;
	outline: none;
    color: white;
}

.input-group {
    display:inline-table;
    padding:0px;
}
.input-group > input, .input-group > button, .input-group > span, .input-group > ul {
    display: table-cell;
}

.fullWidth {
    width:100%;
    display:inline-block;
}

.checkboxLabel {
    margin-right:1px;
}
.searchTypeButtonsGroup {
    vertical-align:middle;
}