 <div class="row mainNavbarContainer">
            


              <div class="col-sm-12 col-lg-8" style="">
                <div class="searchForm input-group">
                    <span><button id="searchButton" class="fullWidth searchNavbarHeight" style="color:white;">
                        <i class="fa fa-search"></i>
                    </button></span>
                    <span><input id="searchInput" class="searchInput fullWidth" type="text" placeholder="Search" value="" autocomplete="off"></span>

                </div>                
              </div>


            <div class="searchNavbarHeight col-sm-12 col-lg-4">
                <div class="btn-group categoryButtonsContainer" data-toggle="buttons" style="">
                    <label class="btn btn-primary active checkboxLabel">
                        <input type="checkbox" id="checkboxName" checked autocomplete="off">In name
                    </label>
                    <label class="btn btn-primary checkboxLabel">
                        <input type="checkbox" id="checkboxDescription" autocomplete="off">In description
                    </label>
                    <label class="btn btn-primary checkboxLabel">
                        <input type="checkbox" id="checkboxTags" autocomplete="off">In tags
                    </label>
                </div>
                
            </div>
               
</div>