<div class="mainNavbarContainer">

    <div class="fullWidthFixedToTop" id="gb" role="banner">

        <div class="fullWidthRelativeTable">
            <div class="tableCellContainer">
                <div class="relativeInlineBlock">
                    <a class="" href="#"><span class="searchBarTitle">AirShow</span></a>
                </div>
            </div>
            <div class="tableCellContainer fullWidth">
                <div class="searchFormDiv">
                    <form class="searchForm" aria-expanded="false" method="get">

                        <button class="" style="height:48px;color:white;">
                            <i class="fa fa-search"></i>
                        </button>
                        <input name="q" class="searchInput" type="text" placeholder="Search" value="" autocomplete="off">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>