 <div class="row mainNavbarContainer">

     <div class="col-md-7" style="">
         <div class="searchForm input-group">
             <div class="input-group-btn">
                 <button type="button" style="color:white;width:100px;" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="fa fa-search"></i>
                 </button>
                 <div class="dropdown-menu">
                     <a class="dropdown-item" href="#" id="anchorMyPresentations">Search in my presentations</a>
                     <div role="separator" class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#" id="anchorPublicPresentations">Search in public presentations</a>
                 </div>
             </div>

             <span><input id="searchInput" class="searchInput fullWidth" type="text" placeholder="Search" value="" autocomplete="off"></span>

         </div>
     </div>




            <div class="col-md-5">
                <div class="btn-group" data-toggle="buttons" style="">
                    <label class="btn btn-primary active checkboxLabel">
                        <input type="checkbox" id="checkboxName" checked autocomplete="off">In name
                    </label>
                    <label class="btn btn-primary checkboxLabel">
                        <input type="checkbox" id="checkboxDescription" autocomplete="off">In description
                    </label>
                    <label class="btn btn-primary checkboxLabel">
                        <input type="checkbox" id="checkboxTags" autocomplete="off">In tags
                    </label>
                </div>
            </div>               
</div>