@model PresentationsViewModel
@{
    ViewData["Title"] = "My Presentations";
    ViewData[ViewConstants.kNavbarActiveIndexKey] = NavbarModel.ActiveIndex.HomeMyPresentations;
}

@section style {
    <link href="~/css/PresentationTag.css" rel="stylesheet" />
    <link href="~/css/tagsView.css" rel="stylesheet" />
    <link href="~/css/PaginationViewStyle.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/js/MyPresentations.js"></script>
}


@if (Model.ErrorMessage != null)
{
    <h4 class="text-danger">@Model.ErrorMessage</h4>
}
else
{
    <div class="row">

        @if (Model.Presentations.Count == 0)
        {
            <p>You don't have any presentations which are associated with the specified tag</p>
        }

        @foreach (var item in Model.Presentations)
        {
            @Component.InvokeAsync(nameof(MyPresentationCard), new { model = item }).Result
        }

    </div>

    @if (Model.PaginationModel != null)
    {
        @Component.InvokeAsync(nameof(PaginationView), new { model = Model.PaginationModel }).Result
    }
}

